---
type Props = {
	projectUrl: string;
	name: string;
	description: string;
};

const { projectUrl, name, description }: Props = Astro.props;
---

<div class="mb-2">
	<>
		<a href={projectUrl} target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">
			{name}
		</a>
		: <span class="inline sm:mt-2">{description}</span>
	</>
</div>
