---
type Props = {
	languages: {
		name: string;
		color: string;
		percentage: string;
	}[];
};

const { languages } = Astro.props;
---

<span class="inline-flex items-center gap-1 overflow-auto sm:gap-4">
	{
		languages.map((lang) => {
			return (
				<div class="flex items-baseline gap-1">
					<div class="h-2 w-2 flex-none rounded-full" style={{ backgroundColor: lang.color }} />
					<span class="text-xs">
						<span>{lang.name}</span>
						<span class="opacity-60">{lang.percentage.concat("%")}</span>
					</span>
				</div>
			);
		})
	}
</span>
